nav {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

#my-logo {
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

li {
  margin-left: 4rem;
}

body {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* header styles ====================================================  */

.menu-item {
  color: #343a40;
  text-decoration: none;
  transition: 0.5s;
}

.menu-item:hover {
  animation-name: change-header-link-color;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  font-size: 18px;
  transition: 0.5s;
}

@keyframes change-header-link-color {
  0% {
    color: #ff6415;
    text-decoration: underline;
  }
  50% {
    color: #343a40;
    text-decoration: none;
  }
  100% {
    color: #ff6415;
    text-decoration: underline;
  }
}

#header-section-content {
  background-color: #f0f4f6;
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* #header-section-left {
  grid-column: 1 / 1;
}

#header-section-middle-1 {
  grid-column: 2 / 5;
  border-top: solid 1px #bfbfbf;
}

#header-section-middle-2 {
  text-align: right;
  grid-column: 5 / 5;
  border-top: solid 1px #bfbfbf;
} */

/* ---- header responsive========================= */

@media screen and (min-width: 375px) {
  /* #header-section-left {
    grid-column: 1 / 1;
  } */

  #header-section-middle-1 {
    grid-column: 1/ 7;
    text-align: center;
    border-top: solid 1px #bfbfbf;
  }

  #header-section-middle-2 {
    padding-bottom: 10px;
    text-align: center;
    grid-column: 1 / 7;
    /* border-top: solid 1px #bfbfbf; */
  }
}
@media screen and (min-width: 580px) {
  /* #header-section-left {
    grid-column: 1 / 1;
  } */

  #header-section-middle-1 {
    grid-column: 1/ 5;
    border-top: solid 1px #bfbfbf;
  }

  #header-section-middle-2 {
    text-align: right;
    grid-column: 5 / 7;
    border-top: solid 1px #bfbfbf;
  }
}
@media screen and (min-width: 900px) {
  /* #header-section-left {
    grid-column: 1 / 1;
  } */

  #header-section-middle-1 {
    grid-column: 1/ 5;
    border-top: solid 1px #bfbfbf;
  }

  #header-section-middle-2 {
    text-align: right;
    grid-column: 5 / 7;
    border-top: solid 1px #bfbfbf;
  }
}

@media screen and (min-width: 1200px) {
  #header-section-left {
    grid-column: 1 / 1;
  }

  #header-section-middle-1 {
    text-align: left;
    grid-column: 2 / 5;
    border-top: solid 1px #bfbfbf;
  }

  #header-section-middle-2 {
    text-align: right;
    grid-column: 5 / 5;
    border-top: solid 1px #bfbfbf;
  }
}

.menu-icon-images {
  height: 27px;
  padding-right: 8px;
}

#search-field {
  font-size: 17px;
  border-radius: 4px;
  border: #b9bfc6 solid 1px;
  height: 30px;
}

#header-section2-content {
  background-color: #f0f4f6;
  padding-top: 15px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
/* 
#header-section2-left {
  grid-column: 1 / 1;
  text-align: right;
}

#header-section2-middle-1 {
  grid-column: 2 / 4;
  padding-top: 15px;
}

#header-section2-middle-2 {
  text-align: right;
  grid-column: 5 / 5;
  padding-top: 15px;
}
#header-section2-middle-3 {
  text-align: center;
  padding-top: 15px;
  grid-column: 6 /6;
}  

/* ---- */

@media screen and (min-width: 375px) {
  #header-section2-left {
    grid-column: 1 / 7;
    text-align: center;
  }

  #header-section2-middle-1 {
    grid-column: 1 / 7;
    padding-top: 15px;
  }

  #header-section2-middle-2 {
    text-align: center;
    grid-column: 1 / 5;
    padding-top: 15px;
  }
  #header-section2-middle-3 {
    text-align: right;
    padding-top: 15px;
    grid-column: 5 /7;
  }
}

@media screen and (min-width: 600px) {
  #header-section2-left {
    grid-column: 1 / 2;
    text-align: center;
  }

  #header-section2-middle-1 {
    grid-column: 2 / 7;
    padding-top: 15px;
  }

  #header-section2-middle-2 {
    text-align: center;
    grid-column: 2 / 2;
    padding-top: 15px;
  }
  #header-section2-middle-3 {
    text-align: right;
    padding-top: 15px;
    grid-column: 5 /6;
  }
}
@media screen and (min-width: 900px) {
  #header-section2-left {
    grid-column: 1 / 1;
    text-align: right;
  }

  #header-section2-middle-1 {
    grid-column: 2 / 4;
    padding-top: 15px;
  }

  #header-section2-middle-2 {
    text-align: right;
    grid-column: 5 / 5;
    padding-top: 15px;
  }
  #header-section2-middle-3 {
    text-align: center;
    padding-top: 15px;
    grid-column: 6 /6;
  }
}

@media screen and (min-width: 1200px) {
  #header-section2-left {
    grid-column: 1 / 1;
    text-align: right;
  }

  #header-section2-middle-1 {
    grid-column: 2 / 4;
    padding-top: 15px;
  }

  #header-section2-middle-2 {
    text-align: right;
    grid-column: 5 / 5;
    padding-top: 15px;
  }
  #header-section2-middle-3 {
    text-align: center;
    padding-top: 15px;
    grid-column: 6 /6;
  }
}

/* footer styles  ==================================================== */

.footer-labels {
  font-size: 18px;
  color: #ffbb99;
  font-weight: 300;
}

.footer-menu-item {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.footer-menu-item:hover {
  /* color: #ff6415; */
  animation-name: change-footer-link-color;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  font-size: 18px;
  transition: 0.5s;
}

@keyframes change-footer-link-color {
  0% {
    color: #ff6415;
    text-decoration: underline;
  }
  50% {
    color: white;
    text-decoration: none;
  }
  100% {
    color: #ff6415;
    text-decoration: underline;
  }
}

#footer-section-content {
  background-color: #343a40;
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* #footer-section-left {
  grid-column: 1 / 1;
}

#footer-section-middle-0 {
  grid-column: 2 / 4;
  border-bottom: solid 1px #4d4d4d;
}

#footer-section-middle-1 {
  grid-column: 4 / 4;
  border-bottom: solid 1px #4d4d4d;
}

#footer-section-middle-2 {
  text-align: right;
  grid-column: 5 / 5;
  border-bottom: solid 1px #4d4d4d;
} */

/* =====top footer====== */
@media screen and (min-width: 300px) {
  /* #footer-section-left {
    grid-column: 1 / 1;
  } */

  #footer-section-middle-0 {
    grid-column: 1 / 7;
    text-align: center;
    /* border-bottom: solid 1px #4d4d4d; */
  }

  #footer-section-middle-1 {
    grid-column: 1 / 7;
    text-align: center;
    /* border-bottom: solid 1px #4d4d4d; */
  }

  #footer-section-middle-2 {
    text-align: center;
    grid-column: 1 / 7;
    border-bottom: solid 1px #4d4d4d;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 580px) {
}
@media screen and (min-width: 900px) {
  #footer-section-left {
    grid-column: 1 / 1;
  }

  #footer-section-middle-0 {
    grid-column: 2 / 4;
    border-bottom: solid 1px #4d4d4d;
  }

  #footer-section-middle-1 {
    grid-column: 4 / 4;
    border-bottom: solid 1px #4d4d4d;
  }

  #footer-section-middle-2 {
    text-align: right;
    grid-column: 5 / 5;
    border-bottom: solid 1px #4d4d4d;
  }
}

@media screen and (min-width: 1200px) {
}
/* =========== */

#footer-section2-content {
  background-color: #343a40;
  padding-top: 15px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
/* 
#footer-section2-left {
  grid-column: 1 / 1;
  text-align: right;
}

#footer-section2-middle-1 {
  color: white;
  grid-column: 2 / 4;
  padding-top: 15px;
}

#footer-section2-middle-2 {
  text-align: right;
  grid-column: 5 / 5;
  padding-top: 15px;
} */

/* --- */

@media screen and (min-width: 300px) {
  #footer-section2-left {
    grid-column: 1 / 5;
    text-align: center;
  }

  #footer-section2-middle-1 {
    color: white;
    grid-column: 5 / 7;
    padding-top: 15px;
  }

  #footer-section2-middle-2 {
    text-align: center;
    grid-column: 1 / 7;
    padding-top: 15px;
  }
}
@media screen and (min-width: 600px) {
  #footer-section2-left {
    grid-column: 1 / 3;
    text-align: center;
  }

  #footer-section2-middle-1 {
    color: white;
    grid-column: 3 / 7;
    padding-top: 15px;
  }

  #footer-section2-middle-2 {
    text-align: center;
    grid-column: 1 / 7;
    padding-top: 15px;
  }
}
@media screen and (min-width: 900px) {
  #footer-section2-left {
    grid-column: 1 / 1;
    text-align: right;
  }

  #footer-section2-middle-1 {
    color: white;
    grid-column: 2 / 4;
    padding-top: 15px;
  }

  #footer-section2-middle-2 {
    text-align: right;
    grid-column: 5 / 5;
    padding-top: 15px;
  }
}

/* --- */

#footer-label {
  color: #e64d00;
}

#footer-section2-middle-3 {
  text-align: center;
  padding-top: 15px;
  grid-column: 6 /6;
}

/* making responsive ==================================================== */
