* {
  font-family: "Ubuntu", sans-serif;
}

.product-detail {
  display: flex;
  flex-direction: column;
  height: 1923px;
  align-items: center;
  justify-content: center;
  gap: 19px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.product-detail .frame {
  display: flex;
  flex-direction: column;
  width: 1925px;
  height: 380px;
  align-items: flex-start;
  gap: 31px;
  position: relative;
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.product-detail .div {
  position: relative;
  width: 1925px;
  flex: 0 0 auto;
}

.product-detail .HOME-CHINESE-FOODS-wrapper {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 124px;
  align-items: center;
  padding: 35px 0px;
  position: relative;
  background-color: #343a40;
}

.product-detail .HOME-CHINESE-FOODS {
  position: relative;
  width: 1061px;
  height: 41px;
  margin-top: -1px;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.product-detail .text-wrapper {
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
}

.product-detail .span {
  font-weight: 700;
}

.product-detail .frame-2 {
  position: relative;
  width: 1919.91px;
  height: 1523.65px;
}

.product-detail .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1412px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.product-detail .frame-3 {
  display: flex;
  width: 1252px;
  height: 613px;
  align-items: flex-start;
  gap: 80px;
  position: relative;
}

.product-detail .rectangle {
  position: relative;
  width: 480px;
  height: 613px;
  object-fit: cover;
}

.product-detail .frame-4 {
  position: relative;
  width: 692px;
  height: 488px;
}

.product-detail .text-wrapper-2 {
  position: absolute;
  width: 691px;
  top: -1px;
  left: 1px;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.product-detail .p {
  position: absolute;
  width: 560px;
  top: 58px;
  left: 0;
  font-weight: 400;
  color: #6a6666;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
}

.product-detail .text-wrapper-3 {
  position: absolute;
  width: 542px;
  top: 280px;
  left: 0;
  font-weight: 700;
  color: #6a6666;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.product-detail .text-wrapper-4 {
  position: absolute;
  width: 542px;
  top: 200px;
  left: 1px;
  font-weight: 700;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

/* cart */ 
  span {cursor:pointer; }
		.number{
      position: absolute;
      height: 37px;
      top: 321px;
      background-color: #f5f5f5;

		}
		.minus, .plus{
			width:20px;
			height:20px;
			background:#ff6415;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:34px;
      width: 100px;
      text-align: center;
      font-size: 26px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
    }

  /*   cart done */
.product-detail .div-wrapper {
  position: absolute;
  width: 46px;
  height: 37px;
  top: 0;
  left: -46px;
  background-color: #ff6415;
  border-radius: 5px;
  border: 1px solid;
  border-color: #6a6a6a;
}

.product-detail .overlap-2 {
  position: absolute;
  width: 288px;
  height: 61px;
  top: 427px;
  left: 0;
  border-radius: 40px;
}

.product-detail .rectangle-2 {
  position: absolute;
  width: 288px;
  height: 61px;
  top: 0;
  left: 0;
  background-color: #ff6415;
  border-radius: 40px;
}

.product-detail .text-wrapper-5 {
  position: absolute;
  width: 288px;
  top: 14px;
  left: 0;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.product-detail .frame-6 {
  display: flex;
  flex-direction: column;
  width: 613px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 721px;
  left: 0;
}

.product-detail .text-wrapper-6 {
  position: relative;
  width: 453px;
  height: 35px;
  margin-top: -1px;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.product-detail .frame-7 {
  display: flex;
  flex-direction: column;
  width: 1820px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 801px;
  left: 0;
}

.product-detail .frame-8 {
  display: flex;
  width: 1720px;
  height: 298px;
  align-items: center;
  gap: 56px;
  position: relative;
}

.product-detail .single-product {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 298px;
  align-items: center;
  gap: 7px;
  position: relative;
}

.product-detail .img {
  position: relative;
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.product-detail .dumplings-kr {
  position: relative;
  width: 240px;
  height: 50px;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.product-detail .div-2 {
  position: relative;
  width: 240px;
  height: 50px;
  font-weight: 400;
  color: #ff6415;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.product-detail .text-wrapper-7 {
  font-weight: 700;
  color: #000000;
}

.product-detail .text-wrapper-8 {
  color: #000000;
  font-size: 19px;
}

/* a:link, a:visited {
  color: #ff6415;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */